.datepicker-wrapper {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepicker-text {
  font-size: 1.1rem;
  padding-right: 10px;
  opacity: 0.8;
}

.datepicker {
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  opacity: 0.8;
}
