.photo-wrapper {
  width: 95%;
  /* height: 100vh; */
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: #fff;
  padding-bottom: 50px;
}

.nasa-photo {
  padding: 40px 0;
  /* background-color: #0e1217; */
  background-color: #121212;
  margin: 0 auto;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.photo {
  width: 100%;
  height: 50vh;
  border-radius: 4px;
}

.photo-title {
  font-size: 1.5rem;
  opacity: 0.8;
}

.photo-text {
  padding-top: 0;
  line-height: 1.5;
  margin: 0 20px;
}

.photo-date {
  font-size: 0.85rem;
  opacity: 0.65;
  margin-bottom: 5px;
}

.photo-explanation {
  border-top: 0.5px solid hsl(224, 52%, 82%);
  margin: 20px 0;
  padding-top: 20px;
  opacity: 0.65;
}

.photo-hd {
  padding-top: 50px;
  text-decoration: none;
  color: hsl(224, 52%, 82%);
  transition: 0.4s ease all;
}

.photo-hd:hover {
  cursor: pointer;
  color: hsl(224, 52%, 62%);
}

.photo-copyright {
  color: #fff;
  opacity: 0.65;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .photo-wrapper {
    margin-top: 50px;
  }

  .nasa-photo {
    display: flex;
  }

  .photo {
    height: auto;
    min-width: 60%;
    padding-left: 10px;
  }

  .photo-text {
    padding: 20px;
    padding-left: 30px;
  }

  .photo-explanation {
    max-height: 500px;
    overflow: scroll;
  }
}
